{{define "title"}}{{LINK "" "Go microservice"}} - Sample ACL{{end}}
{{define "head"}}{{end}}
{{define "content"}}
  <h1>{{template "title" .}} - Anon page</h1>
	<p>Click {{LINK "sample/acl" "here"}} to go to last page.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}