{{define "title"}}Go microservice{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div>
	<div>
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Click {{LINK "sample/acl" "here"}} to test acl.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}