{{define "title"}}{{LINK "" "Go Web App"}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}} - Page not found</h1>
	</div>
	<p>Click {{LINK "" "here"}} to go home.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}