{{define "title"}}{{LINK "" "Go microservice"}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div>
	<div>
		<h1>{{template "title" .}} - Not allowed</h1>
	</div>
	<p>Click {{LINK "" "here"}} to go home.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}